.header {
    height: 3rem;
    width: 100%;
    padding: .5rem 1rem;
    border-bottom:  1.5px solid white;
}

.nav {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    justify-content: center;
    position: relative;
}

.nav img {
    height: 100%;
    width: auto;
}

.nav button{
    position: absolute;
    left: 0;
}